[db]
db_engine = mongo
db_ip = 127.0.0.1
db_port = 27017
db_name = weibo 
weibo_item_table_name = weibo_item
user_table_name = user

[redis]
redis_ip = 127.0.0.1
redis_port = 6379
redis_db = 0
# 新闻列表缓存时间s秒
news_list_cache_ttl = 300
# 比赛数据缓存时间s秒
match_cache_ttl = 300
# 彩票数据缓存时间s秒
lottery_cache_ttl = 120
